[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = IP address manipulation library in JavaScript (CoffeeScript, actually)
[access "refs/*"]
	owner = group user/Yazan Alsahhar (yazan086)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Yazan Alsahhar (yazan086)
	label-Verified = -1..+1 group user/Yazan Alsahhar (yazan086)
	push = group user/Yazan Alsahhar (yazan086)
	read = group user/Yazan Alsahhar (yazan086)
	rebase = group user/Yazan Alsahhar (yazan086)
	removeReviewer = group user/Yazan Alsahhar (yazan086)
	submit = group user/Yazan Alsahhar (yazan086)
[access "refs/heads/*"]
	create = group user/Yazan Alsahhar (yazan086)
	push = +force group user/Yazan Alsahhar (yazan086)
	pushMerge = group user/Yazan Alsahhar (yazan086)
	read = group user/Yazan Alsahhar (yazan086)
[access "refs/tags/*"]
	push = group user/Yazan Alsahhar (yazan086)
	push = +force group user/Yazan Alsahhar (yazan086)
